@use "../../../../react-components/styles/theme";

:local(.compact-button) {
  pointer-events: auto;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  color: theme.$button-text-color;
  background-color: theme.$button-bg-color;
  border: 1px solid theme.$button-border-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: theme.$button-bg-color-hover;
  }

  &:active {
    background-color: theme.$button-bg-color-pressed;
  }

}